/* ------------------------------
   GLOBAL STYLING
-------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #040f0a;
  color: white;
  overflow-x: hidden;
}

/* BACKGROUND PARTICLES AREA */
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -10;
  top: 0;
  left: 0;
  background: radial-gradient(circle at center, #0e1c16, #040f0a);
}

/* ------------------------------
   NAVBAR
-------------------------------*/
nav {
  width: 100%;
  padding: 25px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(8px);
  z-index: 999;
}

nav .logo {
  font-size: 32px;
  font-weight: 800;
  color: #00ff99;
  text-shadow: 0 0 10px #00ff99;
}

nav ul {
  display: flex;
  gap: 35px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  transition: 0.25s;
}

nav ul li a:hover {
  color: #00ff99;
  text-shadow: 0 0 10px #00ff99;
}

.nav-btn {
  padding: 10px 20px;
  background: #00ff99;
  color: black;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  box-shadow: 0 0 12px #00ff99;
  transition: 0.3s;
}

.nav-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #00ff99;
}

/* ------------------------------
   HERO SECTION
-------------------------------*/
.hero {
  padding-top: 160px;
  padding-bottom: 100px;
  text-align: center;
}

.badge {
  display: inline-block;
  padding: 8px 16px;
  background: rgba(0, 255, 153, 0.1);
  border: 1px solid #00ff99;
  color: #00ff99;
  font-weight: 600;
  border-radius: 20px;
}

.hero-title {
  font-size: 90px;
  margin: 20px 0;
  font-weight: 800;
  color: #00ff99;
  animation: zoomGlow 1.6s ease forwards;
  opacity: 0;
}

@keyframes zoomGlow {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
    opacity: 1;
    text-shadow: 0 0 20px #00ff99;
  }
  100% {
    transform: scale(1);
    text-shadow: 0 0 12px #00ff99;
  }
}

.hero-sub {
  color: #c8c8c8;
  font-size: 20px;
  max-width: 700px;
  margin: 0 auto;
}

.hero-buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn1,
.btn2 {
  padding: 12px 25px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
}

.btn1 {
  background: #00ff99;
  color: black;
  box-shadow: 0 0 12px #00ff99;
}

.btn1:hover {
  transform: scale(1.05);
  box-shadow: 0 0 22px #00ff99;
}

.btn2 {
  background: transparent;
  border: 2px solid #00ff99;
  color: #00ff99;
}

.btn2:hover {
  transform: scale(1.05);
  background: rgba(0,
